body{
	width: 960px;
	margin: 30px auto;
	font-family: sans-serif;
	background: url(bg.jpeg); 	
	background-size: cover;
}
main{
	display: flex;
}
	.logo,
	.navigasi,
	.konten,
	.sidebar,
	.footer{
		margin-bottom: 5px;
		padding: 15px 0;
	}
	.logo{
		width: 100%;
		height: auto;
		text-align: center;
		font-color: #F5F5F5; 
	}
	.navigasi{
		width: 100%;
		height: auto;
		text-align: center;
	}

	.konten{
		width: 70%;
	}
	.sidebar{
		width: 30%;
	}
	.footer{
		width: 100%;
		text-align: center;
	}